{% extends 'core/base.html' %}

{% block sidebar %}
    <a href="{% url 'map.views.create_map.create_map' %}" class="btn btn-info btn-block">Создать карту</a>
{% endblock %}
{% block table %}
    <tr>
        <th>#</th>
        <th>Название</th>
        <th>x</th>
        <th>y</th>
        <th>размер тайла</th>
        <th>Дата создания</th>
    </tr>
    {% for object in user_maps %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url "map.views.map_drawing.edit" object.id %}">{{ object.name }}</a></td>
            <td>{{ object.map_size_x }}</td>
            <td>{{ object.map_size_y }}</td>
            <td>{{ object.tile_size }}</td>
            <td>{{ object.created_at }}</td>
        </tr>
    {% endfor %}

    {% if user_group_maps %}
    {% endif %}
{% endblock table %}