{% extends 'core/base.html' %}

    {% block js %}
        {% load staticfiles %}
        <script src="{% static "map/csrf.js" %}" type="text/javascript"></script>
        <script src="{% static "map/drawing_map/map_tile_edit.js" %}" type="text/javascript"></script>

        <script>
            $(document).ready(function () {
                var map = new Map();
                map.map_url = "{{ map_url }}";

                map.background_map_interactive_text_url = "{{ background_map_interactive_text_url }}";
                map.background_map_interactive_href_url = "{{ background_map_interactive_href_url }}";

                map.background_tile_add_url = "{{ background_tile_add_url }}";
                map.background_tile_delete_url = "{{ background_tile_delete_url }}";
                map.save_background_url = "{{ save_background_url }}";
                map.z_index__list = '{{ z_index__list }}';
                map.background_layer_tile_drawing_url = '{{ background_layer_tile_drawing_url }}';
                map.swap_layers_url = '{{ swap_layers_url }}';
                map.edit_name_layer_url = '{{ edit_name_layer_url }}';
                map.delete_layer_url = '{{ delete_layer_url }}';
                map.init();
            });
        </script>
    {% endblock %}


{% block content %}
{##data-spy="affix" для фиксации#}

    <div class="col" >
    <canvas data-toggle="modal" id="map" width="{{ map.width }}" height="{{ map.height }}" style="border: 1px solid black;"></canvas>
    </div>
    <div class="row">
        {% for tile in images %}
            <div class="col-xs-1" style="padding: 5px; margin: 5px">
                <img class="picture center-block" src="{{ tile.image.url }}" width="32" height="32">
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block sidebar %}
    <div class="well well-sm">
    <h4>Кнопки</h4>
        <button class="deletePicture btn btn-info btn-block">Удалить картинку</button>
{#        <button class="interactiveTextMapTile btn btn-info btn-block">Добавить интерактивности квадрату</button>        <a href="{{ ways_url }}" class="way btn-info btn btn-block">Нарисовать путь</a>#}
        <a href="{{ show_map_url }}" class="btn-info btn btn-block">Просмотр результата</a>
        <button class="swap_layers btn-info btn btn-block">Поменять местами слои</button>
        <button class="save_background btn-info btn btn-block">Сохранение map_background</button>
    </div>
    <div class="well well-sm">
    <div class="row">
    <h4 class="col-xs-5">Слои</h4>
    <h4><a href="#modal_create_layer" data-toggle="modal" class="fa fa-plus text-right col-xs-7"> Добавить</a></h4>
    </div>

        {% for layer in layers %}
            <div class="row">
    <div class="col-xs-1">
        <input class='radio_checkbox' type="radio" z_index={{ layer.z_index }} name="radio_checkbox" {% if forloop.last %}checked="checked"{% endif %}>
    </div>
    <div class="col-xs-1">
        <input id="layer{{ layer.z_index }}" checked="checked" value="{{ layer.z_index }}" class="checkbox btn-info btn" name="{{ layer.z_index }}" type="checkbox">
    </div>
    <div class="col-xs-6">
        <label for="layer{{ layer.z_index }}">{{ layer.name }} ({{ layer.z_index    }})</label>
    </div>
    <div class="col-xs-3">
        <a href="#modal_edit_layer" data-toggle="modal" name="{{ layer.name }}" z_index="{{ layer.z_index }}" class="edit_name_layer pencil fa fa-pencil text-right"></a>
{#        <a href="{% url 'emb_delete_layer' map_id=map.id layer_z_index=layer.z_index %}" class="trash fa fa-trash text-right"></a>#}
        <a href="#modal_delete_layer" data-toggle="modal" name="{{ layer.name }}" z_index="{{ layer.z_index }}" class="delete_layer trash fa fa-trash text-right"></a>

    </div>
            </div>
        {% endfor %}

{#    сетка #}
     <div class="row">
    <h4 class="col-xs-1"><input checked="checked" class="checkbox_grid btn-info btn" type="checkbox"></h4>
    <h4><a href="#" class="text-right col-xs-10"><i class="fa fa-map-o"></i> Отрисовка сетки</a></h4>
    </div>
{#    пути#}
    <div class="row">
    <h4 class="col-xs-1"><input  checked="checked" class="checkbox_way btn-info btn" type="checkbox"></h4>
    <h4><a href="#" class=" text-right col-xs-10"><i class="fa fa-map-o"></i> Отрисовка путей</a></h4>
    </div>
    </div>

{#    модальное окно для удаления   #}
    <div class="modal fade" id="modal_delete_layer" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Вы действительно хотите удалить слой?</h3>
                </div>
                <div class="modal-body">
                    <about_this_layer></about_this_layer>
                    <br>
                    <br>
                        <p>О БОЖЕ.. все-такие хотите?(</p>
                    <input class='btn btn-danger' type="button" id="delete_layer_btn" value="Удалить">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть окно</button>
                </div>
            </div>
        </div>
    </div>
{#    модальное окно для редактирования #}
     <div class="modal fade" id="modal_edit_layer" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Вы хотите изменить название слоя?</h3>
                </div>
                <div class="modal-body">
                    <about_this_layer></about_this_layer>
                    <br>
                    	<input type="text" id="edit_name_layer_text"/>
                        <input class='btn btn-info' type="button" id="edit_name_layer_btn" value="Изменить название">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть окно</button>
                </div>
            </div>
        </div>
    </div>

{#    модальное окно для создания слоя #}
    <div class="modal fade" id="modal_create_layer" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Добавление нового слоя</h3>
                </div>
                <div class="modal-body">
                       <form action="{{ request.path }}" method="get">
                            {{ create_layer_form.as_p }}
                            <input class='btn btn-info' type="submit" value="Добавить слой"/>
                        </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть окно</button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="modalTextMapTile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Добавление описания и ссылки области</h4>
      </div>
      <div class="modal-body">
          <about_this></about_this>
          <h3 >Поля необязательны:</h3>
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Ссылка</label>
            <input type="text" class="form-control" id="modalTextMapTileHref">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Описание:</label>
            <textarea class="form-control" id="modalTextMapTileText"></textarea>
          </div>
            <input class='btn btn-info' type="button" id="btn_send_href_and_text_for_interactive_map" value="Отправить данные">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть окно</button>
{#        <button type="button" class="btn btn-primary">Send message</button>#}
      </div>
    </div>
  </div>
</div>
{% endblock sidebar %}