{% extends 'core/base.html' %}

{% block js %}
        {% load staticfiles %}
        <script src="{% static "map/csrf.js" %}" type="text/javascript"></script>
        <script src="{% static "map/drawing_map/map_tile_data.js" %}" type="text/javascript"></script>

        <script>
            $(document).ready(function () {
                var map = new Map();
                map.map_url = '{{ map_url }}';
                map.init();
            });
        </script>
{% endblock %}

{% block content %}
{#{% block map %}#}

{#    TODO возьми меня#}
{#    <style type="text/css">#}
{#    #map{ position:fixed;}#}
{#</style>#}
        <style>
        canvas {
            border: 10px inset brown;
        }
    </style>
{% if map.background %}
    <style>
        canvas {
            background-image: url('{{ map.background.url }}');
{#            border: 10px inset brown;#}
        }
    </style>
 {% endif %}

        <div class="col" >
    <canvas id="map" width="{{ map.width }}" height="{{ map.height }}"></canvas>
{#            style="border: 1px solid black;"></canvas>#}

    </div>


{# {% endblock map %}#}


{#{% block content %}#}
{#    {% if map.background %}#}
{#        <img src="{{ map.background.url }}" width="{{ map.width }}" height="{{ map.heigth }}">#}
{#    {% else %}#}
{#        <div style="width: {{ map.width }}; height: {{ map.height }}; border: 1px solid black;"></div>#}
{#    {% endif %}#}
    {% if map.text %}
{#    <blockquote>#}
{#        {{ map.text }}#}
{#        {% if map.group_users %}#}
{#            <footer>{{ map.group_users }}</footer> {% endif %}#}
{#    </blockquote>#}
        <h3>        {{ map.text }}
        {% if map.group_users %}
           {{ map.group_users }}{% endif %}</h3>
    {% endif %}

{% endblock content %}

{% block sidebar %}
    <a href="{{ ways_urls }}" class=" btn-info btn btn-block">Редактирование путей</a>
    <a href="{{ background_urls }}" class="btn-info btn btn-block">Редактирование тайлов</a>

    <br>
     <div> <p class="text-danger"></p> </div>
{% endblock sidebar %}