<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title|default:'' }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ STATIC_URL }}core/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}core/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
{#    <link href="{{ STATIC_URL }}core/bootstrap/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>#}
    <link href="{{ STATIC_URL }}core/bootstrap/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    {% block head %}{% endblock head %}

</head>
<body>

<div class="navbar navbar-inverse " role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><img class="img-responsive" src="{{ STATIC_URL }}core/images/pinguineee.jpg" width="38" height="38"></li>
                <li>
                    <a href="{% url 'core.views.index' %}">Главная</a>
                </li>

                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Работа с картами <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'map.views.create_map.map_list_view' %}">Просмотр карт</a></li>
                        <li><a href="{% url 'map.views.pictures.pictures' %}">Просмотр картинок</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">редактирование</li>
                        <li><a href="{% url 'map.views.create_map.create_map' %}">Создать карту</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user_detail' %}">{{ user.username }}</a></li>
                    {% if user.avatar %}
                        <li><img class="center-block" src="{{ user.avatar.url }}" height="38" width="38"></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Выход</a> </li>
                {% else %}
                    <li><a href="{% url 'auth2.views.login' %}">Вход</a></li>
                    <li><a href="{% url 'auth2.views.register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div>{% block map %} {% endblock %}</div>

<div class="container">
{% block full_content %}
    <div class="col-lg-9">
        {% block content %}{% endblock content %}

        {% if form_get %}
            <form action="{{ request.path }}" method="get">
                {#       TODO     {% csrf_token %}#}
                {{ form_get.as_p }}
                <input class='btn btn-info' type="submit" value="Ok"/>
            </form>
        {% endif %}

        {% if form_post %}
            <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
                {% csrf_token %}
                {{ form_post.as_p }}
                <input class='btn btn-info' type="submit" value="Ok"/>
            </form>
        {% endif %}

        <table class="table  table-bordered table-hover">
            {% block table %}
            {% endblock table %}
        </table>

    </div>
    <div class="col-lg-3">
        {% block sidebar %}{% endblock sidebar %}
    </div>
{% endblock full_content %}
</div>

<script src="{{ STATIC_URL }}core/js/jquery-2.1.4.min.js"></script>
<script src="{{ STATIC_URL }}core/bootstrap/js/bootstrap.min.js"></script>

{% block js %}
{% endblock js %}

</body>
</html>