{% extends 'core/base.html' %}

<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'index' %}">LOGO</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</div>

{% block content %}
    <div class="row">
        <div class="col-xs-6">
            <h1><div class="text-info">Сервис для создания интерактивных карт</div></h1>
{#            <h3> Хочешь сделать свою первую карту?</h3>#}
{#            <a href="#" class="btn btn-info btn-block btn-lg">Тур по возможностяи!</a>#}
        </div>
{#        <div class="col-xs-6">#}
{#             <img class="img-responsive" src="http://placehold.it/600x300">#}
{#        </div>#}
        <div class="col-xs-12"> <h2> <div class="text-center bg-warning">
            WEB приложение pinguine map позволяет пользователям создавать личные карты. Добавлять им интерактивности.
        </div></h2></div>
    </div>
        <hr/>
    <div class="row">
        <div class="col-xs-3"><img class="img-responsive" src="{{ STATIC_URL }}core/images/karta_pinguins.jpg"></div>

    </div>
        <hr/>
    <div class="row text-center">
        <div class="col-xs-4 well">
            <h3>Это быстро</h3>
        </div>
        <div class="col-xs-4 well">
            <h3>Легко </h3>
        </div>
        <div class="col-xs-4 well">
            <h3>Безопасно</h3>
        </div>
    </div>

{% endblock %}

