{% extends 'core/base.html' %}

{% block content %}
    <form enctype="multipart/form-data" class="uniForm" action="{{ request.path }}" method="post">
        {% csrf_token %}
            {{ form }}
             <div class="form-group">
                   Аватар <input name="files" type="file" >
             </div>

            <input class='btn btn-info' type="submit" value="Создать"/>
    </form>
{% endblock %}