{% extends 'core/base.html' %}

{% block content %}
    <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <input name="files" type="file" multiple="multiple">
        <input type="submit" class="btn btn-success" value="Добавить">
    </form>
{% endblock content %}
