{% extends 'core/base.html' %}

{% block content %}

    {% for tile in object_list %}
        <div class="col-xs-1">
            <img class="center-block" src="{{ tile.image.url }}" width="32" height="32">
        </div>
    {% endfor %}

{% endblock %}

{% block sidebar %}

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input name="files" type="file" multiple="multiple">
            </div>
            <input type="submit" class="btn btn-block btn-success" value="Добавить">
        </form>

{% endblock sidebar %}