{% extends 'core/base.html' %}

    {% block additions %}

    {% endblock %}

{% block js %}
            {% load staticfiles %}
        <script src="{% static "map/csrf.js" %}" type="text/javascript"></script>
        <script src="{% static "map/drawing_map/map_way_edit.js" %}" type="text/javascript"></script>
     <script>
        $(document).ready(function () {
            var map = new Map();
            map.map_url = "{{ map_url }}";
            map.ways_add_url = "{{ ways_add_url }}";
            map.this_url = "{{ this_url }}";
            map.init();
        });
    </script>
{% endblock %}

{% block map %}
    <div class="row2">
    <canvas id="map" width="{{ map.width }}"
            height="{{ map.height }}"
            style="border: 1px solid black;{% if map.background %} background: url('{{ map.background.url }}'){% endif %}">
    </canvas>


    </div>
{#Описание: <p></p>#}
    <div class="row2">
        <table class="images table table-striped table-bordered table-hover">
            <tr>
                <td>
                    <button value="way" class="way btn-info btn" name="delete Picture" type="submit">Нарисовать путь</button>
                </td>
                <td>
                    <a href="{{ background_url }}"><button value="way" class="way btn-info btn" name="way" type="submit">Перейти к редактированию тайлов</button></a>
                </td>
                <td>
                    <a href="{{ show_map_url }}"><button value="way" class="way btn-info btn" name="way" type="submit">ПРосмотр карты</button></a>
                </td>
            </tr>
            {% if map.layers.all %}
                <tr>
                {% for way in map.ways.all %}

                    <a href="#" class="way_numeric" numeric="{{ way.numeric }}">{{ way.numeric }}</a>

                {% endfor %}
                </tr>
            {% endif %}
            
        </table>
    </div>


{% endblock map %}