{% extends 'core/base.html' %}

    {% block additions %}
        {% load staticfiles %}
        <script src="{% static "map/csrf.js" %}" type="text/javascript"></script>
        <script src="{% static "map/map.js" %}" type="text/javascript"></script>
    {% endblock %}


{% block content %}
    <div class="row2">
    <canvas id="map" width="{{ map_size_x }}" height="{{ map_size_y }}" style="border: 1px solid black;"></canvas>

    <script>
        $(document).ready(function () {
            var map = new Map();
            map.init();
        });
    </script>
    </div>
{#Описание: <p></p>#}
    <div class="row2">
        <table class="images table table-striped table-bordered table-hover">
            <tr>
                <td>
                    <button value="delete" class="deletePicture btn-info" name="delete Picture" type="submit">Delete picture</button>
                </td>
                <td>
                    <button value="way" class="way btn-info" name="way" type="submit">Нарисовать путь</button>
                </td>
            </tr>
            {% if images %}
                <tr>
                    {% for pic in images.all %}
                        <td><img class="picture" src={{ pic.image.url }} width="120" height="120"></td>
                    {% endfor %}
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ loaded_map }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ loaded_map }}%;"><span class="sr-only">{{ loaded_map }}% Complete</span></div>
      </div>{% endblock content %}